.block_theme_selector label#themeselectorselectlabel {
    display: inline; 
    vertical-align: middle;
}
.dir-ltr .block_theme_selector label#themeselectorselectlabel {
    margin-right: .25rem;
}
.dir-rtl .block_theme_selector label#themeselectorselectlabel {
    margin-left: .25rem;
}
.block_theme_selector .themeselectorselect select {
    margin-bottom: 0;
}
.block_theme_selector .themeselectorreset button {
    margin: .5rem 0 0;
}

.block_theme_selector .themeselectorwindow {
    padding-top: .5rem;
}

.block_theme_selector .themeselectorwindow input[type='number'] {
    width: 4rem;
}

.block_theme_selector .themeselectorwindow span {
    padding: 0 .25rem;
    vertical-align: baseline;
}

.block_theme_selector #themeselectorcreatewindow {
    display: block;
}

.dir-ltr .block_theme_selector #themeselectorcreatewindow {
    margin-left: 0;
}

.dir-rtl .block_theme_selector #themeselectorcreatewindow {
    margin-right: 0;
}
